.title{
    padding-left: 3vw;
}

.plate-container{
    display: flex;
    flex-direction: row;
    padding-left: 5vw;
    gap: 2vw;
}

.plate{
    width: 20vw;
    height: 20vw;
    background-color: #FFF;
    border-radius: 10px;
    margin: 10px;   
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
